@import "./assets/css/reset.css";
@import "./assets/css/grid.css";
@import "./assets/css/tooltip.css";

:root {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    color: black;
}

.section {
    text-align: center;
    background-position: center;
    background-size: cover;
    padding: 125px 0;
}

.section-heading,
.section-subheading {
    text-transform: uppercase;
}


.section-heading {
    /* Style for "what they" */

    opacity: 0.9;
    font-family: Montserrat, sans-serif;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.28px;
}

.heading-margins {
    margin-bottom: 1rem;
}

.section-subheading {
    opacity: 0.62;
    font-family: Merriweather, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: 1.02px;
}

.subheading_margins {
    margin-bottom: 110px;
}

.work-item {
    overflow: hidden;
    position: relative;
    max-width: 100%;
    width: 100%;
    margin-top: 15px;
    background-color: #00aeef;
    padding-bottom: 97%;
}

.work-item_team{
    padding-bottom: 119%;
}

.work-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.work-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.work-item_team:hover .tooltip{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {

    :root {
        font-size: 14px;
    }
}
